$primary-col: pink;

body{
    background-color: $primary-col;
}
h1{
    color: blue;
}
.pokemonimg{
    background-color: rgb(39,27,27);
}
.card{
    background-image: linear-gradient(140deg, rgb(237,178,61), rgb(68,28,96));
    width: 400px;
}