#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.form {
  padding: 20px; 
  border-radius: 10px; 
  width: 100%;
  margin: 0 auto; 
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* A subtle shadow for depth */
  font-family: Arial, sans-serif; /* Font for the text inside the form */
}

.form h4 {
  margin-bottom: 15px; 
}

.form label {
  margin-right: 10px; 
  font-weight: bold; 
}

.form input[type='text'], 
.form input[type='number'] {
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  width: calc(100% - 22px); 
}

.form input[type='submit'] {
  width: 100%;
  padding: 10px; 
  margin-top: 20px; 
}

.submit {
  background-color: goldenrod; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px; 
  transition-duration: 0.4s; 
}

.submit:hover {
  background-color: #45a030; 
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Basic styling for the container */
div {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Styling for the table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Styling for table headers */
th {
    background-color: goldenrod;
    color: white;
    text-align: left;
    padding: 8px;
}

/* Styling for table rows */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Styling for links */
a {
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
}

/* Add hover effect for rows */
tr:nth-child(even) {background-color: rgb(45, 43, 17)}

tr:hover {background-color: #45a030}

/* Styling for action separator */
.separator {
    margin: 0 5px;
}
