*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/* nav */
nav{
    background-color: rgb(17,155,157);
    padding: 1% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 130%;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
}
.nav-right{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin-left: auto;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    color: white;
    font-size: 170%;
}
.btn-circle{
    width: 150px;
    height: 60px;
    border-radius: 50%;
    color: rgb(164,38,254);
    font-size: 130%;
    font-weight: bold;
    border: 4px solid rgb(164,38,254);
}
/* block-1 */
#filter{
    background-color: rgb(17,155,157);
    padding: 1% 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
    
}
.optionsPet, .optionsPlace{
    display: flex;
    align-items: center;
}
select,input{
    width: 200px;
    height: 40px;
    border: 2px solid;
    padding-left: 4%
}
.btn-friend{
    width: 27%;
    height: 50px;
    border: 2px solid black;
    color: white;
    font-size: 160%;
    background-color: rgb(153,0,255);
    box-shadow: 3px 3px 2px black;
}
/* body */
#body{
    padding: 1% 20%;
}
.block1,.block2,.block3{
    background-color: rgb(238,238,238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    margin-top: 1%;
    font-size: 130%;
}
.pet-img{
    width: 250px;
    height: 250px;
}

.btn-pet1,.btn-pet2,.btn-pet3{
    width: 350px;
    height: 40px;
    font-size: 100%;
    background-color: rgb(17,155,157);
    box-shadow: 3px 3px 2px black;
    color: white;
    /* height: 60px; */
}
.right-block,.text,.text1{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-block{
    text-align: right;
}
.text1,.text{
    width: 40%;
}
.name{
    font-size: xx-large;
}
.pettings{
    display: flex;
}