@charset "ISO-8859-1";

table{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	font-size: x-large;
	
}
td,th{
	border:black solid 0.2rem;
}
th{background-color: chocolate;}
td{background-color: darkolivegreen;}